body{
  
    width: 90%;
    background-color: rgb(148, 39, 117);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 500px;
    font-family: "Lucida Console", "Courier New", monospace;
  
}