body{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

#login{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
#form{
    border: solid pink 10px;
}