.container {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

#login{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
#form{
    border: solid blue 15px;
    background-color: beige;
}

#hi {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}